.header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: sticky;
    margin-bottom: 20px;
    top: 0;
    background-color: rgb(248, 248, 248);
    z-index: 100;
    width: 100%;
}

.header_icon{ 
    object-fit: contain;
    margin-top: 20px;
    margin-left:40px;
    height: 50px;
    align-items: center;

}

.header_centre{
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left:40px;
    align-items: center;
    max-width: fit-content;
    padding : 5px;
    height : 40px;
    border: 1px solid rgb(203, 192, 192);
    border-radius: 999px;
    
}

.header_centre > input {
    border: none;
    padding: 10px;
    outline: none;
    width: 250px;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}